* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
/* Navigation start */
.navigation {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0px;
  z-index: 10;
}
.navigation-image {
  width: 50px;
  border-radius: 55%;
  margin: auto;
}
.navigation-links {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 250px;
  gap: 10%;
  margin: auto;
  padding: 4px;
  background-color: white;
  border-radius: 12px;
}
.navigation-links a {
  text-decoration: none;
  color: green;
}
.navigation-links a:hover {
  text-decoration: underline;
}
.navigation-btn-wrapper {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 10%;
  min-width: 110px;
}
.navigation-btn {
  display: flex;
  text-align: center;
  border: 0;
  padding: 4px;
  background-color: greenyellow;
  font-weight: bolder;
  border-radius: 8px;
}
/* navigation end */
.tag-line {
  text-align: center;
  margin: 40px auto;
  font-size: large;
}
.product-header {
  /* border: 2px solid red; */
  text-align: center;
  margin: 16px;
}
.product {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-wrapper img {
  width: 80%;
  border-radius: 12px;
}
.product div {
  background-color: rgba(172, 255, 47, 0.048);
  border: 2px solid rgba(172, 255, 47, 0.233);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-left: 40px;
  margin: 8px auto;
  width: 31%;
  min-width: 300px;
  max-width: 400px;
}
/* Footer CSS */
.foot {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-around;
  border-top: 1px solid greenyellow;
  border-bottom: 1px solid greenyellow;
  padding: 40px 0px 20px 0px;
  margin-top: 40px;
}
.foot h6 {
  font-size: 18px;
}
.foot-contact p {
  margin: 2px;
  font-size: 14px;
}

.foot-quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot-quick-links a {
  margin: 2px;
  text-decoration: none;
  color: green;
}
.foot-quick-links a:hover {
  text-decoration: underline black;
}
.copyright {
  font-size: 12px;
  text-align: center;
  padding: 8px;
  background-color: rgba(172, 255, 47, 0.116);
}
